@using BlazorServerApp.Models
@using Microsoft.AspNetCore.Mvc
@using static System.Net.WebRequestMethods
@page "/Categories"
@inject HttpClient Http
@inject IDialogService DialogService
@using MudBlazor
@using System.Net.Http.Json

<h3>Categories</h3>

@if (categories.Count == 0)
{
    <h1>No Categories Items found.</h1>
}
else
{
    <MudTable Items="@categories" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info">
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Name</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Nr">@context.Id</MudTd>
            <MudTd DataLabel="Sign">@context.Name</MudTd>
            <MudTd DataLabel="Delete">
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" @onclick="(e)=>{DeleteCategoryDialog(context.Id);}">Delete</MudButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
}

<MudButton @onclick="OpenDialog" Variant="Variant.Filled" Color="Color.Primary">
    Add new Category
</MudButton>

@code {
    public List<CategoryDTO> categories = new List<CategoryDTO>();
    private bool _loading;
    private bool _hidePosition;
    public string CategoryId;


    protected override async Task OnInitializedAsync()
    {
        categories = await Http.GetFromJsonAsync<List<CategoryDTO>>("https://localhost:7127/api/Categories");
    }

    private void OpenDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<CategoriesDialog>("Add New Category", options);
    }

    private void DeleteCategoryDialog(string CategoryId)
    {
        var parameters = new DialogParameters { ["CategoryId"] = CategoryId };
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<DeleteCategoryDialog>("Delete Category", parameters, options);
    }

}
